<td><%= restaurant.name %></td>
<td><%= restaurant.address %></td>
<td><%= restaurant.phone %></td>
<td><%= restaurant.website %></td>
<td><%= link_to 'Show', restaurant %></td>
<td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
<td><%= link_to 'Destroy', method: :delete, data: {confirm: 'Are you sure you want to delete it?'} %></td>